/* Roboto Mono font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.markdown{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
code{
  font-family: 'Roboto Mono', monospace;
}

.markdown code{
  font-size: 13px;
  background: #e0e0e01f;;
  padding: 2px 4px;
  border-radius: 2px;
  border: 1px solid #63626255;
  margin-top: 2px;
}

.markdown pre{
  background-color: #e0e0e01f;;
  border-radius: 2px;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid #4c4c4c43;
}

.markdown pre code{
  background: none;
  padding: 0;
  border: none;
  font-size: 13px;
  margin: 0;
}

.markdown div, p, h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}

.markdown li, ol{
  margin: 5px 0;
}