/* Roboto Mono font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.markdown{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
code{
  font-family: 'Roboto Mono', monospace;
}

.markdown code{
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 2px;
  color: #e91e63;
  padding: 6px 10px;

}

.markdown div, p, h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}

.editor{
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}